@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: linear-gradient(180deg, #4864E6,  #4BD6F2 ); */
	background-color: #4864E6;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
